#dashboard {
  .dashboard-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 30px;
    & > .left-wrap {
      width: 20%;
      .user-profile-card {
        .top-section {
          margin: 30px auto;
          display: flex;
          align-items: center;
          flex-direction: column;
          .profile-image-wrap {
            width: 140px;
            height: 140px;
            border-radius: 50%;
            overflow: hidden;
            display: flex;
            justify-content: center;
            border: 1px solid #ddd;
            margin-bottom: 20px;
            img {
              height: 140px;
              z-index: 0;
            }
          }
          .user-name {
            text-align: center;
            font-size: 20px;
            font-weight: 600;
            margin-bottom: 5px;
          }
          .age-wrap {
            text-align: center;
            font-size: 14px;
            color: #a1a1a1;
          }
        }
        .viewed-count-wrap {
          padding: 15px 20px;
          border-top: 1px solid #ddd;
          border-bottom: 1px solid #ddd;
          .view-wrap {
            display: flex;
            justify-content: space-between;
            align-items: center;
            & + .view-wrap {
              margin-top: 7px;
            }
            .view-text {
              font-size: 15px;
              color: #656565;
            }
            .view-count {
              font-size: 15px;
              color: #236daa;
              font-weight: 700;
            }
          }
        }
        .try-premium {
          padding: 15px 20px;
          border-bottom: 1px solid #ddd;
          .small-txt {
            font-size: 12px;
            color: #a2a2a2;
          }
          .bold-text {
            font-size: 14px;
            color: #444;
          }
        }
        .write-review {
          padding: 15px 20px;
          a {
            display: flex;
            align-items: center;
            font-size: 15px;
            color: #444;
            .icon-wrap {
              margin-right: 6px;
            }
          }
        }
      }
    }
    & > .center-wrap {
      width: 60%;
      .daily-matches-card {
        .card-header {
          display: flex;
          padding: 20px;
          justify-content: space-between;
          .left-wrap {
            font-weight: 700;
            font-size: 15px;
          }
          .right-wrap {
            a {
              font-size: 15px;
              color: #757575;
              font-weight: 600;
            }
          }
        }
        .card-body {
          display: flex;
          padding: 0 20px 5px 20px;
          flex-wrap: wrap;
          .user-card {
            position: relative;
            width: calc(calc(100% - 30px) / 3);
            margin-bottom: 15px;
            &:nth-child(3n - 1) {
              margin-left: 15px;
              margin-right: 15px;
            }
            .close-btn {
              position: absolute;
              z-index: 1;
              background: #0000004d;
              height: 30px;
              width: 30px;
              display: flex;
              align-items: center;
              justify-content: center;
              border-radius: 50%;
              font-size: 18px;
              color: #ffffff;
              right: 5px;
              top: 5px;
            }
            .banner-image {
              height: 70px;
              position: relative;
              overflow: hidden;
              border-radius: 15px 15px 0 0;
              img {
                width: 100%;
                position: absolute;
              }
            }
            .user-image-wrap {
              position: relative;
              top: -60px;
              display: flex;
              justify-content: center;
              height: 60px;
              .user-image {
                height: 120px;
                width: 120px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                  height: 120px;
                }
              }
            }
            .user-name {
              text-align: center;
              font-size: 18px;
              font-weight: 600;
              margin-bottom: 2px;
              margin-top: 15px;
            }
            .age-wrap {
              text-align: center;
              font-size: 14px;
              color: #a1a1a1;
            }
            .connect-btn {
              border: 1px solid #226daa;
              width: 80%;
              margin: 0 auto;
              margin-top: 15px;
              margin-left: 10%;
              margin-bottom: 15px;
              border-radius: 25px;
              height: 36px;
              font-size: 16px;
              font-weight: 600;
              color: #226daa;
              display: flex;
              align-items: center;
              justify-content: center;
            }
          }
        }
      }
    }
    & > .right-wrap {
      width: 20%;
    }
  }
}
