#header-wrapper {
  background: #fff;
  height: 80px;
  border-bottom: 1px solid #e6e8e6;
  box-shadow: 0 0 9px 2px #ddd;
  .header-wrap {
    display: flex;
    align-items: center;
    height: 100%;
    justify-content: space-between;
    .left-wrap {
      display: flex;
      align-items: center;
      height: 100%;
      a {
        img {
          width: 200px;
        }
      }
      .search-wrap {
        margin-left: 20px;
        position: relative;
        input {
          background: #faf9f5;
          border: 0;
          height: 45px;
          border-radius: 5px;
          width: 250px;
        }
        i {
          position: absolute;
          right: 10px;
          font-size: 27px;
          line-height: 45px;
          color: #cac9c7;
        }
      }
    }
    .right-wrap {
      display: flex;
      align-items: center;
      height: 100%;
      & > ul {
        height: 100%;
        & > li {
          position: relative;
          transition: 0.4s background-color;
          &:hover {
            background-color: #eaeaea;
          }
          & > a {
            color: #5d6669;
            font-weight: 800;
            font-size: 15px;
            padding: 28px 15px;
            text-transform: uppercase;
            height: 100%;
          }
          &:hover {
            .nested-menu {
              display: block;
            }
          }
          .nested-menu {
            display: none;
            position: absolute;
            right: 0;
            background-color: #fff;
            width: 320px;
            box-shadow: 0 0 5px 1px #eee;
            &.user-profile-menu {
              padding: 0 20px;
              & > ul {
                & > li {
                  width: 100%;
                  a {
                    width: 100%;
                    display: block;
                  }
                }
              }
              .profile-wrap {
                display: flex;
                align-items: center;
                padding: 15px 0;
                .image-wrap {
                  width: 80px;
                  height: 80px;
                  border-radius: 50%;
                  border: 1px solid #ddd;
                  overflow: hidden;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  img {
                    height: 80px;
                  }
                }
                .name-wrap {
                  margin-left: 10px;
                  .name {
                    font-size: 17px;
                    font-weight: 700;
                    color: #333;
                  }
                  .edit-btn {
                    font-size: 15px;
                    color: #a1a1a1;
                  }
                }
              }
              .give-feedback-wrap {
                padding: 15px 0;
                border-top: 1px solid #ddd;
                border-bottom: 1px solid #ddd;
                display: flex;
                align-items: center;
                .icon-wrap {
                  height: 45px;
                  width: 45px;
                  background: #ddd;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  font-size: 18px;
                  color: #333;
                }
                .text-wrap {
                  margin-left: 10px;
                  .top-text {
                    font-size: 15px;
                    font-weight: 600;
                    color: #333;
                  }
                  .bottom-text {
                    font-size: 12px;
                    color: #8f8f8f;
                  }
                }
              }
              .setting-btn-wrap {
                padding: 10px 0;
                display: flex;
                align-items: center;
                .icon-wrap {
                  height: 40px;
                  width: 40px;
                  background: #ddd;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  border-radius: 50%;
                  font-size: 23px;
                  color: #333;
                }
                .text-wrap {
                  margin-left: 10px;
                  .top-text {
                    font-size: 15px;
                    font-weight: 600;
                    color: #333;
                  }
                }
                .right-arrow-btn {
                  margin-left: auto;
                  color: #333;
                  font-size: 24px;
                }
              }
            }
            &.invitation-menu {
              & > ul {
                & > li {
                  width: 100%;
                  a {
                    width: 100%;
                    display: flex;
                    border-bottom: 1px solid #ddd;
                    padding: 7px 20px 7px 35px;
                    justify-content: space-between;
                    color: #333;
                    font-size: 14px;
                    transition: 0.4s background-color;
                    &:hover {
                      background-color: #eaeaea;
                    }
                    .right-text {
                      background: #07b9d5;
                      border-radius: 20%;
                      font-size: 12px;
                      font-weight: 600;
                      padding: 2px 6px;
                      color: #fff;
                    }
                  }
                }
              }
              .title {
                background: #d8d8d8;
                height: 40px;
                display: flex;
                align-items: center;
                padding: 0 20px;
                font-weight: 600;
                font-size: 15px;
              }
            }
          }
        }
      }
    }
  }
}
