html,
body {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  color: #333;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden !important;
  background: #faf9f5;
}

/* Links
 */
/**
   * Remove the gray background color from active links in IE 10.
   */
a,
a:focus a:hover,
a:active,
a:visited,
a:link {
  text-decoration: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  display: inline-block;
}

input,
textarea,
button,
select,
label,
select,
a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Forms
     ========================================================================== */
/**
   * Known limitation: by default, Chrome and Safari on OS X allow very limited
   * styling of `select`, unless a `border` property is set.
   */
/**
   * 1. Correct color not being inherited.
   *    Known issue: affects color of disabled elements.
   * 2. Correct font properties not being inherited.
   * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
   */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  outline: none;
  /* 3 */
}

/**
   * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
   *    and `video` controls.
   * 2. Correct inability to style clickable `input` types in iOS.
   * 3. Improve usability and consistency of cursor style between image-type
   *    `input` and others.
   */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: center;
}

.test {
  border: 1px solid red;
}

.hidden {
  display: none;
  opacity: 0;
  visibility: hidden;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
}

.cursor-pointer {
  cursor: pointer;
}

img {
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.card-wrapper {
  border: 1px solid #e8e8e8;
  border-radius: 15px;
  background-color: #ffffff;
}

.viewport-container {
  width: 1605px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

#header-wrapper {
  background: #fff;
  height: 80px;
  border-bottom: 1px solid #e6e8e6;
  -webkit-box-shadow: 0 0 9px 2px #ddd;
          box-shadow: 0 0 9px 2px #ddd;
}

#header-wrapper .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#header-wrapper .header-wrap .left-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#header-wrapper .header-wrap .left-wrap a img {
  width: 200px;
}

#header-wrapper .header-wrap .left-wrap .search-wrap {
  margin-left: 20px;
  position: relative;
}

#header-wrapper .header-wrap .left-wrap .search-wrap input {
  background: #faf9f5;
  border: 0;
  height: 45px;
  border-radius: 5px;
  width: 250px;
}

#header-wrapper .header-wrap .left-wrap .search-wrap i {
  position: absolute;
  right: 10px;
  font-size: 27px;
  line-height: 45px;
  color: #cac9c7;
}

#header-wrapper .header-wrap .right-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
}

#header-wrapper .header-wrap .right-wrap ul {
  height: 100%;
}

#header-wrapper .header-wrap .right-wrap ul li {
  position: relative;
}

#header-wrapper .header-wrap .right-wrap ul li a {
  color: #5d6669;
  font-weight: 800;
  font-size: 15px;
  padding: 28px 15px;
  text-transform: uppercase;
  height: 100%;
}

#header-wrapper .header-wrap .right-wrap ul li:hover .nested-menu {
  display: block;
}

#header-wrapper .header-wrap .right-wrap ul li .nested-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  width: 250px;
  -webkit-box-shadow: 0 0 5px 1px #eee;
          box-shadow: 0 0 5px 1px #eee;
}

#header-wrapper .header-wrap .right-wrap ul li .nested-menu.user-profile-menu .profile-wrap .image-wrap img {
  width: 80px;
  height: 80px;
}

#dashboard .dashboard-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 30px;
}

#dashboard .dashboard-wrap .left-wrap {
  width: 20%;
}

#dashboard .dashboard-wrap .left-wrap .user-profile-card .top-section {
  margin: 30px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#dashboard .dashboard-wrap .left-wrap .user-profile-card .top-section .profile-image-wrap {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #ddd;
  margin-bottom: 20px;
}

#dashboard .dashboard-wrap .left-wrap .user-profile-card .top-section .profile-image-wrap img {
  height: 140px;
  z-index: 0;
}

#dashboard .dashboard-wrap .left-wrap .user-profile-card .top-section .user-name {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 5px;
}

#dashboard .dashboard-wrap .left-wrap .user-profile-card .top-section .age-wrap {
  text-align: center;
  font-size: 14px;
  color: #a1a1a1;
}

#dashboard .dashboard-wrap .center-wrap {
  width: 60%;
}

#dashboard .dashboard-wrap .right-wrap {
  width: 20%;
}
/*# sourceMappingURL=style.css.map */